
.container h1 {
    text-align: center;
    color: white;
}
.mb-3 label.form-label {
color :white;
}
.form-check label.form-check-label {
    color: white;
}
button.c-button.btn.btn-primary {
    background-color: initial;
}