p.navbar-text {
    background: linear-gradient(90deg, #070000 0%, #4c0001 50%, #070000 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: x-large;
    font-weight: 500;
}